<html>
<head>
    <title>3dapp model</title>
    <link rel="stylesheet" href="/~jy317/static/css/font.css"/>
    <link rel="stylesheet" href="/~jy317/static/css/index.css"/>
    <link rel="stylesheet" href="/~jy317/static/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/~jy317/static/x3dom/x3dom.css"/>
    <script src="/~jy317/static/jquery/jquery.js"></script>
    <script src="/~jy317/static/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/~jy317/static/x3dom/x3dom.js"></script>
    <script src="/~jy317/static/index.js"></script>
</head>
<body>
<div class="logo">
    <a class="navbar-brand" href="#">
        <h1>1oca</h1>
        <h2>Cola</h2>
        <h3>Journey</h3>
    </a>
</div>
<div style="margin-top:20px;">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="/~jy317/3dapp/tp5/index.php">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/~jy317/3dapp/tp5/index.php?type=model">Model</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#contactModal">Contact</a>
        </li>
    </ul>
</div>
<div class="fengmian">
    <img src="/~jy317/static/img/cocalogo.png"/>
    <div class="text">
        <div class="text1">Coca Cola Great Britain</div>
        <div class="text2">Founded in 1886 Dr John S Pemberton</div>
        <div class="text3">The Coca Cola Company is the world's leading manufacturer, marketer and distributor of non-alcoholic beverage concentrates and syrups, and produces nearly 400 brands.</div>
    </div>
</div>
<h2 class="title-h2">My 3D Picture</h2>
<div class="card-pic">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Coca Cola</h5>
            <h6 class="card-subtitle mb-2 text-muted">New York Harbour, 1886</h6>
            <div class="card-text">
                <p class="desc">It was 1886, John Pemberton, an Atlanta pharmacist, was inspired by simple curiosity. One afternoon, he stirred up a fragrant, caramel-coloured liquid and, when it was done, the mixture was combined with carbonated water and sampled by customers who all agreed - this new drink was something special! <button class="btn btn-success fintout">Find out more</button></p>
                <img src="/~jy317/static/img/coca_card.png"/>
            </div>

        </div>
    </div>
</div>
<div class="card-pic">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Fanta</h5>
            <h6 class="card-subtitle mb-2 text-muted">Germany, 1940</h6>
            <div class="card-text" style="flex-direction:row-reverse;">
                <p class="desc">In 1940, due to World War II, Coca-Cola suspended the export of Coca-Cola puree to Germany, so Max Ketter, the director of the German branch, asked his employees to come up with a drink that could replace Coca-Cola. The new products they developed only included With whey, pomace and sugar beets. When Marx asked for a name for a new drink, a salesperson casually answered "Fanta" <button class="btn btn-success fintout">Find out more</button></p>
                <img src="/~jy317/static/img/fenta_card.png"/>
            </div>

        </div>
    </div>
</div>
<div class="card-pic">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Sprite</h5>
            <h6 class="card-subtitle mb-2 text-muted">West Germany, 1959</h6>
            <div class="card-text">
                <p class="desc">First introduced in 1961, crisp, refreshing, clean-tasting Sprite is now the world's leading lemon and lime flavoured soft drink and is sold in more than 190 different countries. Sprite Zero, part of our no sugar Zero range, offers the delicious lemon lime taste of Sprite without the sugar or calories. <button class="btn btn-success fintout">Find out more</button></p>
                <img src="/~jy317/static/img/sprite_card.png"/>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img id="modal-img" src="" class="d-block w-100" alt="coke">
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">3D App Contact Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="position:static;left:0;padding: 10px 20px !important;">
                Email: jy317@sussex.ac.uk
            </div>
        </div>
    </div>
</div>
</body>
</html>

